### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### Logs ###
*.log
*.lck
/logs/

### Spring Boot ###
# Ne PAS ignorer application.properties
# Ignorer les fichiers sensibles si tu en crées
application-local.properties
application-secret.properties

### Docker ###
*.pid
*.seed
docker-data/
docker-compose.override.yml

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### Eclipse / STS ###
.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Build ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### OS ###
.DS_Store
Thumbs.db

### Custom ###
data.properties
"allure-results/" 
